# Virtual Environment
.venv/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Environment Variables
.env

# Test Coverage
.coverage
htmlcov/
.pytest_cache/

# Reports
reports/*.json
reports/*.html

# Build Files
build/
dist/
*.egg-info/

# Frontend
node_modules/
.vite/

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Logs
*.log